<div class="container">
  <div class="row clearfix " *ngIf="sellerList != null && sellerList != undefined">
    <div class="col-md-12">
      <button type="button" class="btn btn-secondary mt-4 mb-2" routerLink="/SellerAdd" (click)="openAdd()">Add
        Seller</button>
      <button *ngIf="sellerList.length > 0" type="button" class="btn btn-secondary mt-4 mb-2 ml-4"
        (click)="delete()">Multiple Delete</button>
    </div>
    
    <div *ngIf="sellerList.length == 0" class="msg-pos">
      <span>There is no items to display click on Add Seller to add new items.</span>
    </div>
    <div *ngIf="sellerList.length > 0" class="col-md-12">
      <div class="column border p-3">
        <div class="form-group mb-4">
          <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search">
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Seller Name</th>
              <th scope="col">Contact Name</th>
              <th scope="col">Email</th>
              <th scope="col">Bidded</th>
              <th scope="col">Guranteed</th>
              <th scope="col">Currencies</th>
              <th scope="col">Offices</th>
              <th scope="col">Date</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of sellerList | filter: searchText | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
              <!-- <th scope="row">1</th> -->
              <td>
                <input type="checkbox" (change)="checkbox(item.id)" />
              </td>
              <td>{{item.sellerName}}</td>
              <td>{{item.contactName}}</td>
              <td>{{item.email}}</td>
              <td>{{item.bidded}}</td>
              <td>{{item.guranteed}}</td>
              <td>{{item.currencies}}</td>
              <td>{{item.offices}}</td>
              <td>{{item.date | date:'dd/MM/yyyy'}}</td>
              <td class="cursor" [routerLink]="['/SellerEdit']" [queryParams]="{sid: item.id, ind: i}"
                (click)="openEdit(i)">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="currentColor"
                    d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                </svg>
              </td>
              <td (click)="onDelete(item.id)" class="cursor">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24" data-toggle="modal" data-target="#myModal">
                  <path fill="currentColor"
                    d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                </svg>
              </td>
        
              <!-- <div id="myModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Delete</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="onDelete(item.id)">Delete</button>
                    </div>
                  </div>
                </div>
              </div> -->

            </tr>

          </tbody>

        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<app-seller-add *ngIf="openSellerAdd"></app-seller-add>
<app-seller-edit *ngIf="isOpenEdit" [obIndex]="index"></app-seller-edit>